<footer>
<br>
<hr>
<hr style="width: 100%; color: gray; height: 3px; background-color:gray;" />

<p style="margin-left:5em; margin-right:5em; text-align:right">
 <span style="float:left">Made with <i class="fa fa-heart" aria-hidden="true"></i> Barbu Bujor 2016  </span>
This project rocks and uses MIT-LICENSE. <i class="fa fa-thumbs-up"></i>
</p>
<hr>


</footer>
