  <body>


<div class="container my-container">
      <section id="introduction" class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <img id="profile-picture" class="img-responsive img-center" src=<%= asset_path('bbfull.jpg') %>  alt="Profile Picture">
  </div>
  <div id="short-description" class="col-xs-12 col-sm-6 col-md-offset-2">
    <h1>Barbu Bujor</h1>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-user" title="nick"></i>bbsoft0</li>
      <li><a href="mailto:pragtob@gmail.com"><i class="fa fa-li fa-envelope" title="Email"></i> bbsoft0@gmail.com</a></li>
      <li><i class="fa-li fa fa-home" title="Location"></i> Cluj Napoca, Romania</li>
      <li><i class="fa fa-li fa-heart" title="Passionate about"></i> software development, open source, web development, clean code, good practices,<br>  Ruby, Rails, Health, Precision Medicine,  progressive enhancement, running ...</li>
      <li><i class="fa fa-li fa-suitcase" title="Work Status"></i> Building awesome applications in Ruby on Rails</li>
    </ul>
    <!-- Star button -->
<a class="github-button" href="https://github.com/bbsoft0/RunForJoy" data-icon="octicon-star" data-style="mega" data-count-href="/bbsoft0/RunForJoy/stargazers" data-count-api="/repos/bbsoft0/RunForJoy#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star bbsoft0/RunForJoy on GitHub">Star</a>
<p> If you like Run For Joy, support it for free by clicking the Star button, then Star on Github</p>
</div>
</section>
  <br>



    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="http://bbsoft0.github.io/">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/BarbuBujor">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>


                    <li>
                        <a href="https://github.com/bbsoft0">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>



<div class="container">
    <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">About Run For Joy</h3>
        </div>
        <div class="panel-body">Stats and advice for joyfull and <strong> healthy </strong> running.
 I created this site so I can share my passion for everything that is good about health, running and active living.
I love to use software to help people experience the positive effects that running has on their well being. Most importantly, I love to help people find purpose and joy in their active lives.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Technologies used</h3>
        </div>
        <div class="panel-body">BackEnd: Ruby on Rails
        <br> FrontEnd: Backbone.js, Underscode.js (small templates)
        <br> Database: PostgreSQL
        <br> Authentication : Devise, Omniauth
        <br> Testing : RSpec, Capybara

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Description</h3>
        </div>
        <div class="panel-body">Run for joy will give you new abilities - to stay strong, motivated and optimistic every time you enter the site. <br> Health is wealth and using the advice here you will improve you health and you will be more likely to achieve the goals that matter most to you. Just 10 minutes a day and you will have results.</div>
      </div>
    </div>

        <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Application Usage</h3>
        </div>
        <div class="panel-body">
                            1. Make an account - entering your data or use Sign In with Facebook
                            <br>2. Enter your segments - competitions you participated in.
                            <br>3. In the show section, upload the results file for the competition (using csv format).
                            <p style="text-indent: 22px;">* Spreadsheet like LibreOffice / Excel have the export to CSV functionality.</p>
                            </div>
    </div>
  </div>

      <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Example CSV for import </h3>
        </div>
        <div class="panel-body">
                place,name,company,time.
                <br>"1","John Doe",,"00:14:15"
                <br>"2","Mark Smith",,"00:14:23"
                <br>"3","George Washington",,"00:14:28"
                <br> ...
                <p>  </p>
        </div>
      </div>
    </div>

</div>



</div>
</div>
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://buttons.github.io/buttons.js"></script>
</body>

</html>
