<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>LIVE WITH JOY !</h1>
            <h3>Check out this awesome project</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button"
        onClick="document.getElementById('feature').scrollIntoView();">See all features</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
        <hgroup>
            <h1>HEALTH IS WEALTH !</h1>
            <h3>Sign Up for free now !</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button"
        onClick="document.getElementById('feature').scrollIntoView();">See all features</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">
        <hgroup>
            <h1>PERSONALIZED STATS</h1>
            <h3>Value, Elegance, Simplicity</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button"
        onClick="document.getElementById('feature').scrollIntoView();">See all features</button>
      </div>
    </div>
  </div>
</div>



<div class="container" id="feature">
    <div class="row">
        <h2>
            Features</h2>
        <div class="col-md-6">
            <div class="blockquote-box clearfix">
                <div class="square pull-left">
                    <i class="fa fa-thumbs-up fa-4x" aria-hidden="true"></i>
                </div>
                <h4>
                    Enthusiasm</h4>
                <p>
                    Run for joy will give you new abilities - to stay strong, motivated and optimistic every time you enter the site.
                </p>
            </div>
            <div class="blockquote-box blockquote-primary clearfix">
                <div class="square pull-left">
                    <i class="fa fa-medkit fa-4x" aria-hidden="true"></i>
                </div>
                <h4>
                    Health focus</h4>
                <p>
                    Listen to your body. You will discover your actual form and this can help you decide your long term  focus.
                </p>
            </div>
            <div class="blockquote-box blockquote-success clearfix">
                <div class="square pull-left">
                    <i class="fa fa-connectdevelop fa-4x" aria-hidden="true"></i>
                </div>
                <h4>
                    Connection</h4>
                <p>
                    Have access to competitions posted by other users (read access). The agregate function can be used on all competitions (yours and others) giving uniquely interesting results.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="blockquote-box blockquote-info clearfix">
                <div class="square pull-left">
                    <i class="fa fa-diamond fa-4x" aria-hidden="true"></i>
                </div>
                <h4>
                    Excellence</h4>
                <p>
                    Improving your knowledge and health you will be more likely to achieve the goals that matter most to you. Just 10 minutes a day<br> and you will have the results.
                </p>
            </div>
            <div class="blockquote-box blockquote-warning clearfix">
                <div class="square pull-left">
                    <i class="fa fa-plus-square fa-4x" aria-hidden="true"></i>
                </div>
                <h4>
                    Aggregate Function </h4>
                <p>
                    Smart enough to permit you to use Aggregate Function for multi search and find form, strengths and weaknesess. This function is unique to Run For Joy !.
                </p>
            </div>
            <div class="blockquote-box blockquote-violet clearfix">
                <div class="square pull-left">
                    <i class="fa fa-star fa-4x" aria-hidden="true"></i>
                </div>
                <h4>
                    Smart, clear & beautiful display</h4>
                <p>
                    Value elegance, simplicity, and readability? You will fit right in.
Beautiful star Ranking with 9 levels will make your data cristal clear.
                </p>
            </div>
        </div>
    </div>
</div>

